.form_add {
  margin: 0 auto;
  width: 532px
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
  font-size: 24px
}

.form_add button {
  color: #FFC107;
}